body{
    color: rgb(226, 226, 226);;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    background: no-repeat center center fixed url("../IMG/SpaceX_Starship_Proposal,_Artemis_Program.jpg"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

p{
    display: inline;
}

#liste-crypto{
    font-size: 70px;
    margin: auto;
    text-align: center;
    padding: 25px;
    min-width: 1000px;
    display: flex;
    flex-direction: column;
    
}
#divbitcoin{
    margin-top: 50px;
}
#divdogecoin{
    margin-top: 50px;
}

#divbitcoin img{
    width: 100px;
    vertical-align:middle;
}
#divdogecoin img{
    width: 100px;
    vertical-align:middle;
}

#date{
    font-size: 40px;
    width: fit-content;
    color: rgb(226, 226, 226);
    background-color: rgba(0, 0, 0, 0.3);
    border: 5px solid #595959;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    margin: auto;
}

#elon-tweet-feed{
    margin-top: 50px;
}


#left-panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
    min-width: 300px;
    padding: 25px;;
}